CarAppWebClient/Connected Services/MyAnnouncesService/MyAnnouncesServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PopulateGrid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idUser" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateGridResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateGridResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PopulateGridSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateGrid" />
  </wsdl:message>
  <wsdl:message name="PopulateGridSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateGridResponse" />
  </wsdl:message>
  <wsdl:portType name="MyAnnouncesServicesSoap">
    <wsdl:operation name="PopulateGrid">
      <wsdl:input message="tns:PopulateGridSoapIn" />
      <wsdl:output message="tns:PopulateGridSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyAnnouncesServicesSoap" type="tns:MyAnnouncesServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PopulateGrid">
      <soap:operation soapAction="http://tempuri.org/PopulateGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MyAnnouncesServicesSoap12" type="tns:MyAnnouncesServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PopulateGrid">
      <soap12:operation soapAction="http://tempuri.org/PopulateGrid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyAnnouncesServices">
    <wsdl:port name="MyAnnouncesServicesSoap" binding="tns:MyAnnouncesServicesSoap">
      <soap:address location="https://localhost:44385/MyAnnouncesServices.asmx" />
    </wsdl:port>
    <wsdl:port name="MyAnnouncesServicesSoap12" binding="tns:MyAnnouncesServicesSoap12">
      <soap12:address location="https://localhost:44385/MyAnnouncesServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>