CarAppWebClient/Connected Services/CreateAccountService/CreateAccount.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="createUserAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nume" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prenume" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parola" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="adresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefon" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userImage" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createUserAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="createUserAccountResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createAdminAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nume" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prenume" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parola" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userImage" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createAdminAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="createAdminAccountResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkPass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkPassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkPassResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="createUserAccountSoapIn">
    <wsdl:part name="parameters" element="tns:createUserAccount" />
  </wsdl:message>
  <wsdl:message name="createUserAccountSoapOut">
    <wsdl:part name="parameters" element="tns:createUserAccountResponse" />
  </wsdl:message>
  <wsdl:message name="createAdminAccountSoapIn">
    <wsdl:part name="parameters" element="tns:createAdminAccount" />
  </wsdl:message>
  <wsdl:message name="createAdminAccountSoapOut">
    <wsdl:part name="parameters" element="tns:createAdminAccountResponse" />
  </wsdl:message>
  <wsdl:message name="checkPassSoapIn">
    <wsdl:part name="parameters" element="tns:checkPass" />
  </wsdl:message>
  <wsdl:message name="checkPassSoapOut">
    <wsdl:part name="parameters" element="tns:checkPassResponse" />
  </wsdl:message>
  <wsdl:portType name="CreateAccountSoap">
    <wsdl:operation name="createUserAccount">
      <wsdl:input message="tns:createUserAccountSoapIn" />
      <wsdl:output message="tns:createUserAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createAdminAccount">
      <wsdl:input message="tns:createAdminAccountSoapIn" />
      <wsdl:output message="tns:createAdminAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkPass">
      <wsdl:input message="tns:checkPassSoapIn" />
      <wsdl:output message="tns:checkPassSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreateAccountSoap" type="tns:CreateAccountSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createUserAccount">
      <soap:operation soapAction="http://tempuri.org/createUserAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAdminAccount">
      <soap:operation soapAction="http://tempuri.org/createAdminAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPass">
      <soap:operation soapAction="http://tempuri.org/checkPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreateAccountSoap12" type="tns:CreateAccountSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createUserAccount">
      <soap12:operation soapAction="http://tempuri.org/createUserAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAdminAccount">
      <soap12:operation soapAction="http://tempuri.org/createAdminAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPass">
      <soap12:operation soapAction="http://tempuri.org/checkPass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreateAccount">
    <wsdl:port name="CreateAccountSoap" binding="tns:CreateAccountSoap">
      <soap:address location="https://localhost:44385/CreateAccount.asmx" />
    </wsdl:port>
    <wsdl:port name="CreateAccountSoap12" binding="tns:CreateAccountSoap12">
      <soap12:address location="https://localhost:44385/CreateAccount.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>