CarAppWebClient/Connected Services/CreateAnnouncementService/CreateAnnouncement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="addAnnounce">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iduser" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="caroserie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="marca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="varianta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pret" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="an" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="km" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="putere" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="puterekw" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="combustibil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cutieviteze" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="culoare" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="locatie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descriere" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imageAnnounce" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="image1" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="image2" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="image3" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addAnnounceResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateAnnouncee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodAnunt" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="caroserie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="marca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="varianta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pret" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="an" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="km" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="putere" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="puterekw" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="combustibil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cutieviteze" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="culoare" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="locatie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descriere" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imgannounce" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="img1" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="img2" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="img3" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateAnnounceeResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="addAnnounceSoapIn">
    <wsdl:part name="parameters" element="tns:addAnnounce" />
  </wsdl:message>
  <wsdl:message name="addAnnounceSoapOut">
    <wsdl:part name="parameters" element="tns:addAnnounceResponse" />
  </wsdl:message>
  <wsdl:message name="updateAnnounceeSoapIn">
    <wsdl:part name="parameters" element="tns:updateAnnouncee" />
  </wsdl:message>
  <wsdl:message name="updateAnnounceeSoapOut">
    <wsdl:part name="parameters" element="tns:updateAnnounceeResponse" />
  </wsdl:message>
  <wsdl:portType name="CreateAnnouncementSoap">
    <wsdl:operation name="addAnnounce">
      <wsdl:input message="tns:addAnnounceSoapIn" />
      <wsdl:output message="tns:addAnnounceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateAnnouncee">
      <wsdl:input message="tns:updateAnnounceeSoapIn" />
      <wsdl:output message="tns:updateAnnounceeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreateAnnouncementSoap" type="tns:CreateAnnouncementSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addAnnounce">
      <soap:operation soapAction="http://tempuri.org/addAnnounce" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAnnouncee">
      <soap:operation soapAction="http://tempuri.org/updateAnnouncee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreateAnnouncementSoap12" type="tns:CreateAnnouncementSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addAnnounce">
      <soap12:operation soapAction="http://tempuri.org/addAnnounce" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAnnouncee">
      <soap12:operation soapAction="http://tempuri.org/updateAnnouncee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreateAnnouncement">
    <wsdl:port name="CreateAnnouncementSoap" binding="tns:CreateAnnouncementSoap">
      <soap:address location="https://localhost:44385/CreateAnnouncement.asmx" />
    </wsdl:port>
    <wsdl:port name="CreateAnnouncementSoap12" binding="tns:CreateAnnouncementSoap12">
      <soap12:address location="https://localhost:44385/CreateAnnouncement.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>