CarAppWebClient/Connected Services/BrowseService/BrowseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PopulateGrid">
        <s:complexType />
      </s:element>
      <s:element name="PopulateGridResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateGridResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FilterGrid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="marca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pretMin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pretMax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="varianta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="combustibil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="anMin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="anMax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ccMin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ccMax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="putereCPMin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="putereCPMax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="kmMin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="kmMax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="caroserie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="culoare" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cutieViteze" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="locatie" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FilterGridResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FilterGridResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAnounceData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdAnunt" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAnounceDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAnounceDataResult" type="tns:Announce" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Announce">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="marca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="model" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="varianta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="caroserie" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="combustibil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cutieViteze" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="culoare" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataAnunt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="locatie" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descriere" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefon" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idUser" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idAnunt" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pret" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="an" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="km" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="putere" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="putereKw" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="cc" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="imagAnunt" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="imag1" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="imag2" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="imag3" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PopulateGridSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateGrid" />
  </wsdl:message>
  <wsdl:message name="PopulateGridSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateGridResponse" />
  </wsdl:message>
  <wsdl:message name="FilterGridSoapIn">
    <wsdl:part name="parameters" element="tns:FilterGrid" />
  </wsdl:message>
  <wsdl:message name="FilterGridSoapOut">
    <wsdl:part name="parameters" element="tns:FilterGridResponse" />
  </wsdl:message>
  <wsdl:message name="getAnounceDataSoapIn">
    <wsdl:part name="parameters" element="tns:getAnounceData" />
  </wsdl:message>
  <wsdl:message name="getAnounceDataSoapOut">
    <wsdl:part name="parameters" element="tns:getAnounceDataResponse" />
  </wsdl:message>
  <wsdl:portType name="BrowseServiceSoap">
    <wsdl:operation name="PopulateGrid">
      <wsdl:input message="tns:PopulateGridSoapIn" />
      <wsdl:output message="tns:PopulateGridSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FilterGrid">
      <wsdl:input message="tns:FilterGridSoapIn" />
      <wsdl:output message="tns:FilterGridSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAnounceData">
      <wsdl:input message="tns:getAnounceDataSoapIn" />
      <wsdl:output message="tns:getAnounceDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BrowseServiceSoap" type="tns:BrowseServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PopulateGrid">
      <soap:operation soapAction="http://tempuri.org/PopulateGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterGrid">
      <soap:operation soapAction="http://tempuri.org/FilterGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAnounceData">
      <soap:operation soapAction="http://tempuri.org/getAnounceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BrowseServiceSoap12" type="tns:BrowseServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PopulateGrid">
      <soap12:operation soapAction="http://tempuri.org/PopulateGrid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterGrid">
      <soap12:operation soapAction="http://tempuri.org/FilterGrid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAnounceData">
      <soap12:operation soapAction="http://tempuri.org/getAnounceData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BrowseService">
    <wsdl:port name="BrowseServiceSoap" binding="tns:BrowseServiceSoap">
      <soap:address location="https://localhost:44385/BrowseService.asmx" />
    </wsdl:port>
    <wsdl:port name="BrowseServiceSoap12" binding="tns:BrowseServiceSoap12">
      <soap12:address location="https://localhost:44385/BrowseService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>