CarAppWebClient/Connected Services/AdminService/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PopulateUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isBanned" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateUsersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isBanned" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchUsersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="banUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="banUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="unbanUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="unbanUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="deleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteUserResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PopulateUsersSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateUsers" />
  </wsdl:message>
  <wsdl:message name="PopulateUsersSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateUsersResponse" />
  </wsdl:message>
  <wsdl:message name="SearchUsersSoapIn">
    <wsdl:part name="parameters" element="tns:SearchUsers" />
  </wsdl:message>
  <wsdl:message name="SearchUsersSoapOut">
    <wsdl:part name="parameters" element="tns:SearchUsersResponse" />
  </wsdl:message>
  <wsdl:message name="banUserSoapIn">
    <wsdl:part name="parameters" element="tns:banUser" />
  </wsdl:message>
  <wsdl:message name="banUserSoapOut">
    <wsdl:part name="parameters" element="tns:banUserResponse" />
  </wsdl:message>
  <wsdl:message name="unbanUserSoapIn">
    <wsdl:part name="parameters" element="tns:unbanUser" />
  </wsdl:message>
  <wsdl:message name="unbanUserSoapOut">
    <wsdl:part name="parameters" element="tns:unbanUserResponse" />
  </wsdl:message>
  <wsdl:message name="deleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:deleteUser" />
  </wsdl:message>
  <wsdl:message name="deleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:deleteUserResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminServiceSoap">
    <wsdl:operation name="PopulateUsers">
      <wsdl:input message="tns:PopulateUsersSoapIn" />
      <wsdl:output message="tns:PopulateUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <wsdl:input message="tns:SearchUsersSoapIn" />
      <wsdl:output message="tns:SearchUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="banUser">
      <wsdl:input message="tns:banUserSoapIn" />
      <wsdl:output message="tns:banUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="unbanUser">
      <wsdl:input message="tns:unbanUserSoapIn" />
      <wsdl:output message="tns:unbanUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input message="tns:deleteUserSoapIn" />
      <wsdl:output message="tns:deleteUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminServiceSoap" type="tns:AdminServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PopulateUsers">
      <soap:operation soapAction="http://tempuri.org/PopulateUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <soap:operation soapAction="http://tempuri.org/SearchUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="banUser">
      <soap:operation soapAction="http://tempuri.org/banUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unbanUser">
      <soap:operation soapAction="http://tempuri.org/unbanUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="http://tempuri.org/deleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminServiceSoap12" type="tns:AdminServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PopulateUsers">
      <soap12:operation soapAction="http://tempuri.org/PopulateUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <soap12:operation soapAction="http://tempuri.org/SearchUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="banUser">
      <soap12:operation soapAction="http://tempuri.org/banUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unbanUser">
      <soap12:operation soapAction="http://tempuri.org/unbanUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap12:operation soapAction="http://tempuri.org/deleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="AdminServiceSoap" binding="tns:AdminServiceSoap">
      <soap:address location="https://localhost:44385/AdminService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminServiceSoap12" binding="tns:AdminServiceSoap12">
      <soap12:address location="https://localhost:44385/AdminService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>