CarAppWebClient/Connected Services/LoginService/LoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FoundEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isAdmin" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FoundEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FoundEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parola" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isAdmin" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckPasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnAdminResult" type="tns:Admin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Admin">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nume" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prenume" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pozaProfil" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="contact" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReturnUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnUserResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nume" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prenume" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="adresa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefon" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="isBanned" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="nrAnunturi" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="pozaProfil" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FoundEmailSoapIn">
    <wsdl:part name="parameters" element="tns:FoundEmail" />
  </wsdl:message>
  <wsdl:message name="FoundEmailSoapOut">
    <wsdl:part name="parameters" element="tns:FoundEmailResponse" />
  </wsdl:message>
  <wsdl:message name="CheckPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:CheckPassword" />
  </wsdl:message>
  <wsdl:message name="CheckPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:CheckPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnAdminSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnAdmin" />
  </wsdl:message>
  <wsdl:message name="ReturnAdminSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnAdminResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnUserSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnUser" />
  </wsdl:message>
  <wsdl:message name="ReturnUserSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnUserResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginServiceSoap">
    <wsdl:operation name="FoundEmail">
      <wsdl:input message="tns:FoundEmailSoapIn" />
      <wsdl:output message="tns:FoundEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <wsdl:input message="tns:CheckPasswordSoapIn" />
      <wsdl:output message="tns:CheckPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnAdmin">
      <wsdl:input message="tns:ReturnAdminSoapIn" />
      <wsdl:output message="tns:ReturnAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnUser">
      <wsdl:input message="tns:ReturnUserSoapIn" />
      <wsdl:output message="tns:ReturnUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginServiceSoap" type="tns:LoginServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FoundEmail">
      <soap:operation soapAction="http://tempuri.org/FoundEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <soap:operation soapAction="http://tempuri.org/CheckPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnAdmin">
      <soap:operation soapAction="http://tempuri.org/ReturnAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnUser">
      <soap:operation soapAction="http://tempuri.org/ReturnUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginServiceSoap12" type="tns:LoginServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FoundEmail">
      <soap12:operation soapAction="http://tempuri.org/FoundEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <soap12:operation soapAction="http://tempuri.org/CheckPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnAdmin">
      <soap12:operation soapAction="http://tempuri.org/ReturnAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnUser">
      <soap12:operation soapAction="http://tempuri.org/ReturnUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port name="LoginServiceSoap" binding="tns:LoginServiceSoap">
      <soap:address location="https://localhost:44385/LoginService.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginServiceSoap12" binding="tns:LoginServiceSoap12">
      <soap12:address location="https://localhost:44385/LoginService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>